.ascent {
  width: 100%;
  padding: 140px 0;
}

.ascent__wrapper {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ascent__container {
  margin-left: 98px;
}

.ascent__content {
  top: 0;
}

.ascent__title {
  width: 472px;
  margin-top: 0;
  @include third-level-headings ();
  color: var(--dark);
}

.ascent__text {
  width: 350px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark);
}

.ascent__img-wrap {
  right: 0;
}

@include small-desktop {
  .ascent {
    padding-top: 100px;
    padding-bottom: 130px;
  }
  .ascent__container {
    margin-left: 20px;
    padding-right: 0;
  }

  .ascent__title {
    width: 420px;
  }
}

@include tablet {
  .ascent {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .ascent__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .ascent__container {
    margin-left: 0;
  }
  
  .ascent__title {
    width: 100%;
  }

  .ascent__text {
    width: 100%;
  }
}