.footer {
  background-color: var(--dark);
  padding: 50px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text,
.privacy {
  font-size: 12px;
  line-height: 150%;
  color: var(--light);
}

.footer__logo {
  width: 100%;

  & path {
    transition: all 0.3s;
  }

  &:focus,
  &:hover {
    & path {
      fill: var(--orange);
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.privacy {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light);
    transform: scaleX(0);
    transition: all 0.3s;
    outline: none;
  }

  &:hover {
    &:before {
      transform: scaleX(1);
    }
  }

  &:active {
    opacity: 0.7;
  }
}