@mixin third-level-headings () {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;

  @include small-desktop {
    font-size: 46px;
  }
}