<section class="ascent">
  <div class="ascent__wrapper">
    <div class="container ascent__container">
      <div class="ascent__content">
        <h3 class="ascent__title">Туры с восхождением на вершины мира</h3>
        <p class="ascetn__text">Мы являемся экспертами в организации альпинистских туров для опытных альпинистов и для
          новичков. Вы можете доверить нам полную организацию вашего приключения от А до Я и быть уверенными в качестве
          и безопасности восхождения.</p>
        <p class="ascetn__text">Наша компания предоставляет все необходимое: консультацию по выбору тура, перелет, визу,
          бронирование проживания, питание, оборудование, необходимое для восхождения, опытных гидов, полное
          сопровождение.</p>
      </div>
    </div>
    <div class="ascent__img-wrap">
      <picture>
        <source srcset="./img/map.webp, ./img/map_2x.webp 2x" type="image/webp">
        <img loading="lazy" src="./img/map.png" srcset="./img/map_2x.png 2x" 
        class="ascent__image" width="815" height="375" alt="Карта самых высоких гор мира">
      </picture>
    </div>
  </div>


</section>