<section class="blog">
  <div class="container blog__container">
    <h3 class="blog__title">Блог</h3>

    <div class="blog__content">

      <input class="visually-hidden" type="radio" name="blog-oblect" id="blog-object-1" checked>
      <input class="visually-hidden" type="radio" name="blog-oblect" id="blog-object-2">
      <input class="visually-hidden" type="radio" name="blog-oblect" id="blog-object-3">
      <input class="visually-hidden" type="radio" name="blog-oblect" id="blog-object-4">
      <input class="visually-hidden" type="radio" name="blog-oblect" id="blog-object-5">

      <div class="blog__oblects">
        <ul class="list-reset blog__titles-list">
          <li class="blog__titles-item">
            <label for="blog-object-1" class="blog__label blog__label--1" tabindex="0">
              <span class="blog__titles-date">15 января, 2020</span>
              Как подготовиться к первому восхождению на вершину
            </label>
          </li>
          <li class="blog__titles-item">
            <label for="blog-object-2" class="blog__label blog__label--2" tabindex="0">
              <span class="blog__titles-date">10 января, 2020</span>
              Фестиваль Alpika Freeski Аlpindustria Fest Красная Поляна 13-16 февраля
            </label>
          </li>
          <li class="blog__titles-item">
            <label for="blog-object-3" class="blog__label blog__label--3" tabindex="0">
              <span class="blog__titles-date">20 декабря, 2019</span>
              Особенности альпинизма на Камчатке. Все о Ключевой Сопке
            </label>
          </li>
          <li class="blog__titles-item">
            <label for="blog-object-4" class="blog__label blog__label--4" tabindex="0">
              <span class="blog__titles-date">15 декабря, 2019</span>
              Что происходит с человеком на высоте более 3000 метров?
            </label>
          </li>
          <li class="blog__titles-item">
            <label for="blog-object-5" class="blog__label blog__label--5" tabindex="0">
              <span class="blog__titles-date">15 декабря, 2019</span>
              Что происходит с человеком на высоте более 3000 метров?
            </label>
          </li>
        </ul>
        <a href="#" class="blog__link">Читать все новости</a>
      </div>

      <ul class="list-reset blog__articles">
        <li class="blog__article blog__article--1">
          <article>
            <img class="article__image" src="../img/blog-img1.png" width="700" height="287" alt="">
            <span class="article__date">15 января, 2020</span>
            <h4 class="article__title">Как подготовиться к первому восхождению на вершину</h4>
            <p class="article__text">
              Перед тем, как отправиться на покорение вершины горы, нужно не только привести в порядок свою физическую
              форму, но и тренировать выносливость, дыхательную и сердечно-сосудистую системы. Именно на них приходится
              максимальная нагрузка на высоте. Поэтому из-за недостаточной подготовки вы можете сойти на полпути. Чтобы
              этого не случилось, занимайтесь плаванием, бегом, велосипедом и кардиотренировками.
            </p>
            <p class="article__text">
              Как должны проходить тренировки? В первую очередь, тренировки должны проходить постоянно, эффективно и
              интенсивно. Кроме того, нагрузка постепенно должна увеличиваться. В случае с бегом обязательно делать это
              с учетом пульса. Грамотно спланированный бег позволит не только сбросить вес, но и укрепит сердечную
              мышцу.
              При беге с высоким пульсом вы позволите организму привыкнуть к недостатку кислорода — то, с чем
              обязательно встретитесь в горах. Для укрепления физической подготовки и повышения выносливости также
              бегайте в горку или в быстром темпе поднимайтесь по лестницам. И не забудьте отдохнуть за неделю до
              путешествия!
            </p>
          </article>
        </li>
        <li class="blog__article blog__article--2">
          <article>
            <img class="article__image" src="../img/blog-img2.png" width="700" height="287" alt="">
            <span class="article__date">10 января, 2020</span>
            <h4 class="article__title"> Фестиваль Alpika Freeski Аlpindustria Fest Красная Поляна 13-16 февраля</h4>
            <p class="article__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam consequuntur
              nesciunt quidem alias assumenda aperiam cum incidunt adipisci nemo explicabo commodi eaque libero
              dignissimos maxime rerum, minus expedita error, fugit porro minima. Dolorem sit ratione nisi possimus,
              pariatur laudantium maxime quidem nam corrupti maiores? Eius ipsa in pariatur voluptates, quos nesciunt
              vero aspernatur, eaque nam amet adipisci enim dolore deserunt voluptatem similique reprehenderit!
              Temporibus inventore voluptas, unde dolore nihil doloribus asperiores optio harum nobis alias quos quo
              quibusdam expedita ut odio aliquid! Quasi, sit. Delectus eaque culpa corrupti nulla tenetur quam vitae
              dicta laboriosam adipisci. Cupiditate, iste! Porro, deserunt ut.</p>
            <p class="article__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae necessitatibus non
              nihil totam voluptatibus laborum repellat quis reprehenderit tempora incidunt. Debitis earum nesciunt
              rerum, nihil ratione quod! Ut, in molestias repellat beatae corrupti corporis nobis quibusdam earum
              obcaecati? Temporibus qui soluta cum labore possimus quo perferendis quas veniam, quia exercitationem.</p>
          </article>
        </li>
        <li class="blog__article blog__article--3">
          <article>
            <img class="article__image" src="../img/blog-img3.png" width="700" height="287" alt="">
            <span class="article__date">20 декабря, 2019</span>
            <h4 class="article__title">Особенности альпинизма на Камчатке. Все о Ключевой Сопке</h4>
            <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laborum consequuntur
              necessitatibus fuga laboriosam impedit illum esse voluptatum, nostrum amet fugiat tempora facilis numquam
              laudantium dolore magni veritatis pariatur inventore labore sit odio vitae ducimus temporibus! Odio
              reprehenderit eveniet repellat nulla? Ullam exercitationem a est accusantium obcaecati, dolor similique
              dolore eligendi, iste dolorem nisi, incidunt illum corporis natus quisquam omnis numquam quaerat eius
              error animi. Nam incidunt cum repellendus! Adipisci numquam minima consectetur rem maiores, deserunt
              beatae quisquam quam ipsum dolore? Et possimus adipisci nostrum non tempora perspiciatis? Fugit vero
              cumque sed, eveniet tempore odio voluptatem quia facilis, quo reprehenderit doloribus! Sunt quibusdam
              repellat impedit dolorem esse rem praesentium doloremque beatae quisquam, nemo aliquam qui quaerat
              recusandae perferendis ut amet repudiandae, excepturi eaque quidem animi et velit fuga aliquid! Maiores
              sequi omnis quidem quibusdam voluptas soluta ipsam a, laborum tenetur nisi, incidunt saepe officiis sint
              distinctio animi, excepturi deserunt esse eum praesentium aut ea voluptatibus aspernatur sed amet! Quia
              ipsum cum fuga aspernatur laboriosam iusto voluptates deleniti, facilis, quas quisquam voluptatum velit
              explicabo mollitia accusamus commodi recusandae porro sed asperiores labore a at incidunt molestias omnis
              dignissimos! Suscipit iure placeat molestias porro, pariatur dolore, hic dignissimos beatae quia maiores
              modi! Illo necessitatibus neque iusto saepe eveniet tempore ea, animi laudantium! Quae, totam laborum
              labore veniam perspiciatis soluta beatae et. Quis in culpa dicta earum ab quos blanditiis laboriosam
              facere ex quod deleniti quaerat, suscipit eaque quas soluta dolorum possimus expedita sed reiciendis
              veritatis? Nihil corrupti quisquam aspernatur et veritatis sequi. Fugiat praesentium animi molestias
              aperiam suscipit mollitia necessitatibus, iure cumque unde deserunt soluta ea quae quidem earum sint
              maxime, expedita eos nam, at harum enim amet. Nihil amet voluptates nam illum. Cum nulla vero delectus,
              repudiandae blanditiis distinctio eum? Blanditiis atque hic similique. Dolor veritatis est quisquam
              aliquam sit voluptatem?</p>
          </article>
        </li>
        <li class="blog__article blog__article--4">
          <article>
            <img class="article__image" src="../img/blog-img4.png" width="700" height="287" alt="">
            <span class="article__date">15 декабря, 2019</span>
            <h4 class="article__title">Что происходит с человеком на высоте более 3000 метров?</h4>
            <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nesciunt incidunt
              tempore nisi provident, reiciendis cupiditate eligendi iste optio temporibus tempora deleniti. Officiis
              modi distinctio molestiae vel cupiditate, veniam voluptatibus nihil debitis provident eligendi error
              officia et magni mollitia aliquam ab earum quos pariatur? Esse quas perferendis ipsa rerum, molestiae
              illum magni autem consequatur nostrum expedita atque fugit dolore libero dicta quisquam, nulla repellat
              id. Molestiae reprehenderit nostrum voluptate hic, dolores perspiciatis impedit veritatis, laborum
              eligendi non omnis? Quis, porro.</p>
            <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis neque, animi
              quidem iure magnam illum ab voluptates ducimus illo maiores sint quo quia aliquam, cumque placeat atque
              modi quos omnis. Doloribus minima porro ducimus soluta. Voluptates, placeat laboriosam rem distinctio
              adipisci voluptatum consequatur nihil quo ut ipsa! Voluptatem omnis alias laborum? Voluptatem mollitia
              obcaecati in quam iure quasi natus itaque, nihil totam accusantium beatae reiciendis, ex provident eius
              architecto error velit, ipsa praesentium sint quas tenetur tempora accusamus quia non? Ullam, minima.
              Quis, autem! Repellat atque rerum quibusdam perspiciatis. Alias atque quae sint fugiat ducimus ratione
              maiores dolorum velit fuga.</p>
            <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officia deleniti optio
              nam at labore, id autem delectus quisquam minus debitis facilis explicabo molestias veritatis quia sint
              voluptate officiis quo?</p>
          </article>
        </li>
        <li class="blog__article blog__article--5">
          <article>
            <img class="article__image" src="../img/blog-img5.png" width="700" height="287" alt="">
            <span class="article__date">15 декабря, 2019</span>
            <h4 class="article__title">Что происходит с человеком на высоте более 3000 метров?</h4>
            <p class="article__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam corrupti similique
              facilis cupiditate expedita! Facere commodi et error, itaque obcaecati deserunt nam ducimus vel iste,
              tempore odio ea illo harum sequi molestiae vero inventore ipsum? Provident neque incidunt quia, dolorem
              dignissimos enim minus veritatis tempora impedit possimus in molestiae modi optio aspernatur ipsum ratione
              rerum nostrum. Quis sint eum error a quas quidem natus inventore similique alias reprehenderit laudantium
              placeat dicta recusandae adipisci impedit sit dolore, tenetur deserunt dolorum necessitatibus minima.
              Deleniti, iste? Suscipit aut, dolores impedit, ea harum ad doloremque voluptates culpa ullam unde iste
              excepturi, magnam veritatis mollitia.</p>
            <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus, asperiores
              earum quae excepturi soluta quis dicta veritatis ducimus cupiditate aperiam quo id blanditiis nobis vel
              repudiandae facilis unde incidunt magni ipsa natus consequuntur placeat repellendus debitis? Voluptatem,
              distinctio quo tenetur iure voluptatum sapiente deleniti nisi quaerat repellat incidunt modi eveniet autem
              aperiam quidem. Officiis, expedita maxime iste inventore provident voluptatibus laboriosam ea aspernatur,
              quasi perferendis ab cupiditate, dolorum cumque corrupti amet perspiciatis eius. Inventore assumenda
              aperiam fugit beatae nihil, nostrum quasi ducimus sed a earum placeat minus! Illum voluptates provident
              perspiciatis sequi at placeat aspernatur quidem voluptatum, ratione id.</p>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>