<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.598942831914!2d30.32050837738852!3d59.93879686208718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KDQvtGB0YHQuNGPLCAxOTExODY!5e0!3m2!1sru!2sby!4v1718930782248!5m2!1sru!2sby"
        width="600" height="457" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="contacts__info">
      <h3 class="contacts__title">Контакты</h3>
      <address class="contacts__item contacts__item--address">
        <p class="contacts__text">Адрес:</p>
        <p class="contacts__address">Санкт-Петербург, <br /> ул. Большая Конюшенная, 19</p>
      </address>

      <div class="contacts__item contacts__item--phone">
        <p class="contacts__text">Телефон:</p>
        <a class="contacts__link" href="tel:+8800777-33-25">8 (800) 777-33-25</a>
      </div>

      <div class="contacts__item contacts__item--email">
        <p class="contacts__text">E-mail:</p>
        <a class="contacts__link" href="mailto:info@mountain.ru">info@mountain.ru</a>
      </div>

      <div class="contacts__item contacts__item--social social">
        <p class="contacts__text">Социальные сети:</p>
        <ul class="list-reset social__list">
          <li class="social__item">
            <a class="social__link social__link--facebook" href="#"></a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--insta" href="#"></a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--twitter" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>