<section class="help">
  <div class="help__background">
    <div class="help__background-left"></div>
    <div class="help__background-right"></div>
  </div>
    <div class="container help__container">
      <div class="help__content">
        <h3 class="help__title">Нужна помощь <br/> с выбором тура?</h3>
        <p class="help__info">Заполните форму, наш менеджер свяжется с вами в ближайшее время и подберет подходящий тур</p>
        <form action="#" method="POST" class="help__form help-form">
          <p class="help-form__item help-form__item--username"> 
            <label class="help-form__label" for="username">Имя</label>
            <input class="input-reset help-form__input" type="text" id="username" name="username">
          </p>
          <p class="help-form__item help-form__item--phone">
            <label class="help-form__label" for="phone">Телефон</label>
            <input class="input-reset help-form__input" type="tel" id="phone" name="phone">
          </p>
          <p class="help-form__item help-form__item--email">
            <label class="help-form__label" for="email">E-mail</label>
            <input class="input-reset help-form__input" type="email" id="email" name="email">
          </p>
          <button class="btn-reset help-form__btn-submit" type="submit">Отправить</button>
          <span class="help-form__submit-info">Нажимая кнопку, вы соглашаетесь с условиями обработки персональных данных</span>
        </form>
      </div>   
      <div class="help__content"></div>   
    </div>
</section>