<section class="popular">
  <div class="container popular__container">
    <h3 class="popular__title">Популярные туры</h3>
    <div class="popular__slider slider ">
      <div class="slider__wrapper">
        <div class="slider__list">
          <div class="slider__item slide">
            <div class="slide__image-wrapper">
              <picture>
                <source srcset="./img/card-img1.webp, ./img/card-img1_2x.webp 2x" type="image/webp">
                <img loading="lazy" src="./img/card-img1.png" srcset="./img/card-img1_2x.png 2x" class="slide__image"
                  width="370" height="326" alt="Заснеженные горы на фоне облачного неба">
              </picture>
              <div class="slide__image-overlay"></div>
              <div class="slide__info-wrap slide-info">
                <div class="slide-info__top">
                  <p class="slide-info__location">Россия</p>
                  <button class="btn-reset slide-info__bookmark"></button>
                </div>
                <div class="slide-info__bottom">
                  <p class="slide-info__title">Белуха</p>
                  <div class="slide-info__details">
                    <span>4506 м</span>
                    <span>12 дней</span>
                    <span>от 45000</span>
                  </div>
                  <div class="slide-info__level slide-info__level--middle">Средний уровень</div>
                </div>
              </div>
            </div>
          </div>

          <div class="slider__item slide">
            <div class="slide__image-wrapper">
              <picture>
                <source srcset="./img/card-img2.webp, ./img/card-img2_2x.webp 2x" type="image/webp">
                <img loading="lazy" src="./img/card-img2.png" srcset="./img/card-img2_2x.png 2x" class="slide__image"
                  width="370" height="326" alt="Альпинисты поднимаются на заснеженную гору">
              </picture>
              <div class="slide__image-overlay"></div>
              <div class="slide__info-wrap slide-info">
                <div class="slide-info__top">
                  <p class="slide-info__location">Россия</p>
                  <button class="btn-reset slide-info__bookmark"></button>
                </div>
                <div class="slide-info__bottom">
                  <p class="slide-info__title">Эльбрус</p>
                  <div class="slide-info__details">
                    <span>5642 м</span>
                    <span>10 дней</span>
                    <span>от 25000</span>
                  </div>
                  <div class="slide-info__level slide-info__level--middle">Средний уровень</div>
                </div>
              </div>
            </div>
          </div>

          <div class="slider__item slide">
            <div class="slide__image-wrapper">
              <picture>
                <source srcset="./img/card-img3.webp, ./img/card-img3_2x.webp 2x" type="image/webp">
                <img loading="lazy" src="./img/card-img3.png" srcset="./img/card-img3_2x.png 2x" class="slide__image"
                  width="370" height="326" alt="Заснеженные горы на фоне облачного неба">
              </picture>
              <div class="slide__image-overlay"></div>
              <div class="slide__info-wrap slide-info">
                <div class="slide-info__top">
                  <p class="slide-info__location">Танзания</p>
                  <button class="btn-reset slide-info__bookmark"></button>
                </div>
                <div class="slide-info__bottom">
                  <p class="slide-info__title">Килиманджаро</p>
                  <div class="slide-info__details">
                    <span>5895 м</span>
                    <span>4 дня</span>
                    <span>от 55000</span>
                  </div>
                  <div class="slide-info__level slide-info__level--simple">Простой уровень</div>
                </div>
              </div>
            </div>
          </div>

          <div class="slider__item slide">
            <div class="slide__image-wrapper">
              <picture>
                <source srcset="./img/card-img1.webp, ./img/card-img1_2x.webp 2x" type="image/webp">
                <img loading="lazy" src="./img/card-img1.png" srcset="./img/card-img1_2x.png 2x" class="slide__image"
                  width="370" height="326" alt="Заснеженные горы на фоне облачного неба">
              </picture>
              <div class="slide__image-overlay"></div>
              <div class="slide__info-wrap slide-info">
                <div class="slide-info__top">
                  <p class="slide-info__location">Россия</p>
                  <button class="btn-reset slide-info__bookmark"></button>
                </div>
                <div class="slide-info__bottom">
                  <p class="slide-info__title">Белуха</p>
                  <div class="slide-info__details">
                    <span>4506 м</span>
                    <span>12 дней</span>
                    <span>от 45000</span>
                  </div>
                  <div class="slide-info__level slide-info__level--middle">Средний уровень</div>
                </div>
              </div>
            </div>
          </div>

          <div class="slider__item slide">
            <div class="slide__image-wrapper">
              <picture>
                <source srcset="./img/card-img2.webp, ./img/card-img2_2x.webp 2x" type="image/webp">
                <img loading="lazy" src="./img/card-img2.png" srcset="./img/card-img2_2x.png 2x" class="slide__image"
                  width="370" height="326" alt="Альпинисты поднимаются на заснеженную гору">
              </picture>
              <div class="slide__image-overlay"></div>
              <div class="slide__info-wrap slide-info">
                <div class="slide-info__top">
                  <p class="slide-info__location">Россия</p>
                  <button class="btn-reset slide-info__bookmark"></button>
                </div>
                <div class="slide-info__bottom">
                  <p class="slide-info__title">Эльбрус</p>
                  <div class="slide-info__details">
                    <span>5642 м</span>
                    <span>10 дней</span>
                    <span>от 25000</span>
                  </div>
                  <div class="slide-info__level slide-info__level--middle">Средний уровень</div>
                </div>
              </div>
            </div>
          </div>

          <div class="slider__item slide">
            <div class="slide__image-wrapper">
              <picture>
                <source srcset="./img/card-img3.webp, ./img/card-img3_2x.webp 2x" type="image/webp">
                <img loading="lazy" src="./img/card-img3.png" srcset="./img/card-img3_2x.png 2x" class="slide__image"
                  width="370" height="326" alt="Заснеженные горы на фоне облачного неба">
              </picture>
              <div class="slide__image-overlay"></div>
              <div class="slide__info-wrap slide-info">
                <div class="slide-info__top">
                  <p class="slide-info__location">Танзания</p>
                  <button class="btn-reset slide-info__bookmark"></button>
                </div>
                <div class="slide-info__bottom">
                  <p class="slide-info__title">Килиманджаро</p>
                  <div class="slide-info__details">
                    <span>5895 м</span>
                    <span>4 дня</span>
                    <span>от 55000</span>
                  </div>
                  <div class="slide-info__level slide-info__level--simple">Простой уровень</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slider__buttons">
          <button class="btn-reset slider__button slider__button--prev" type="button">Предыдущий</button>
          <button class="btn-reset slider__button slider__button--next" type="button">Следующий</button>
        </div>
      </div>
    </div>
</section>