<section class="tours">
  <div class="container tours__container">
    <h3 class="tours__title">Россия</h2>
      <p class="tours__info">Более 15 туров для альпинистов всех уровней</p>
      <table class="tours__table">
        <tr class="tours__table-row">
          <th class="tours__table-head">Вершина</th>
          <th class="tours__table-head">Высота</th>
          <th class="tours__table-head">Уровень</th>
          <th class="tours__table-head">Стоимость</th>
         </tr>
         <tr class="tours__table-row"><td>Эльбрус</td><td>5642 м</td><td>Средний</td><td>от 25 000&#8381;</td></tr>
         <tr class="tours__table-row"><td>Казбек</td><td>5033 м</td><td>Сложный</td><td>от 30 000&#8381;</td></tr>
         <tr class="tours__table-row"><td>Белуха</td><td>4506 м</td><td>Простой</td><td>от 20 000&#8381;</td></tr>
         <tr class="tours__table-row"><td>Дыхтау</td><td>5204 м</td><td>Сложный</td><td>от 40 000&#8381;</td></tr>
      </table>
      <a href="#" class="tours__link">Смотреть все</a>
  </div>
</section>