// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --second-family: "Oswald", sans-serif;
  --content-width: 1170px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --retina-dpi: 144dpi;
  --retina-dppx: 1.5dppx;
  
  // colors
  --light: #FCFCFC;
  --dark: #061B28;
  --gray: #E6E8EA;
  --orange: #EC5118;
  --light-gray: #fcfcfc66;
}



@include small-desktop {
  :root {
    --container-offset: 20px;
  }
}
